@font-face {
  font-family: 'grabyo-icons';
  src:  url('fonts/grabyo-icons.eot?66le3l');
  src:  url('fonts/grabyo-icons.eot?66le3l#iefix') format('embedded-opentype'),
    url('fonts/grabyo-icons.ttf?66le3l') format('truetype'),
    url('fonts/grabyo-icons.woff?66le3l') format('woff'),
    url('fonts/grabyo-icons.svg?66le3l#grabyo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gb-icon-"], [class*=" gb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grabyo-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gb-icon-burger:before {
  content: "\e601";
}
.gb-icon-back:before {
  content: "\e602";
}
.gb-icon-forward:before {
  content: "\e603";
}
.gb-icon-close:before {
  content: "\e604";
}
.gb-icon-cta-arrow-right:before {
  content: "\e605";
}
.gb-icon-arrow-right:before {
  content: "\e606";
}
.gb-icon-share:before {
  content: "\e607";
}
.gb-icon-follow:before {
  content: "\e608";
}
.gb-icon-settings:before {
  content: "\e609";
}
.gb-icon-stats:before {
  content: "\e60a";
}
.gb-icon-bin:before {
  content: "\e60b";
}
.gb-icon-cta-arrow-left:before {
  content: "\e60c";
}
.gb-icon-folder:before {
  content: "\e60d";
}
.gb-icon-grablive:before {
  content: "\e60e";
}
.gb-icon-padlock:before {
  content: "\e60f";
}
.gb-icon-profile:before {
  content: "\e610";
}
.gb-icon-cross:before {
  content: "\e611";
}
.gb-icon-edit:before {
  content: "\e612";
}
.gb-icon-home:before {
  content: "\e613";
}
.gb-icon-arrow-down:before {
  content: "\e614";
}
.gb-icon-mail:before {
  content: "\e615";
}
.gb-icon-upload:before {
  content: "\e616";
}
.gb-icon-search:before {
  content: "\e617";
}
.gb-icon-correct:before {
  content: "\e619";
}
.gb-icon-tick:before {
  content: "\e61a";
}
.gb-icon-arrow-up:before {
  content: "\e61b";
}
.gb-icon-arrow-left:before {
  content: "\e61c";
}
.gb-icon-stream:before {
  content: "\e61d";
}
.gb-icon-reload:before {
  content: "\e61e";
}
.gb-icon-minus:before {
  content: "\e61f";
}
.gb-icon-clock:before {
  content: "\e620";
}
.gb-icon-calendar:before {
  content: "\e621";
}
.gb-icon-plus:before {
  content: "\e622";
}
.gb-icon-switch-off:before {
  content: "\e623";
}
.gb-icon-tw:before {
  content: "\e624";
}
.gb-icon-fb:before {
  content: "\e625";
}
.gb-icon-views:before {
  content: "\e626";
}
.gb-icon-filter:before {
  content: "\e628";
}
.gb-icon-note:before {
  content: "\e629";
}
.gb-icon-external-link:before {
  content: "\e62a";
}
.gb-icon-filter2:before {
  content: "\e62b";
}
.gb-icon-cut:before {
  content: "\e62c";
}
.gb-icon-info:before {
  content: "\e62d";
}
.gb-icon-overview:before {
  content: "\e62e";
}
.gb-icon-processing:before {
  content: "\e62f";
}
.gb-icon-spin-load:before {
  content: "\e630";
}
.gb-icon-plus-no-border:before {
  content: "\e631";
}
.gb-icon-soc-media:before {
  content: "\e632";
}
.gb-icon-download:before {
  content: "\e633";
}
.gb-icon-minimise:before {
  content: "\e634";
}
.gb-icon-expand:before {
  content: "\e635";
}
.gb-icon-creative-set:before {
  content: "\e636";
}
.gb-icon-comments:before {
  content: "\e637";
}
.gb-icon-unlock:before {
  content: "\e638";
}
.gb-icon-CTA-book-now:before {
  content: "\e639";
}
.gb-icon-CTA-download-now:before {
  content: "\e63a";
}
.gb-icon-CTA-shop-now:before {
  content: "\e63b";
}
.gb-icon-CTA-sign-up:before {
  content: "\e63c";
}
.gb-icon-CTA-visit-link:before {
  content: "\e63d";
}
.gb-icon-CTA-watch-now:before {
  content: "\e63e";
}
.gb-icon-use-app:before {
  content: "\e642";
}
.gb-icon-play-games:before {
  content: "\e643";
}
.gb-icon-hq:before {
  content: "\e644";
}
.gb-icon-sq:before {
  content: "\e645";
}
.gb-icon-cursor:before {
  content: "\e646";
}
.gb-icon-small-menu:before {
  content: "\e648";
}
.gb-icon-artwork-2:before {
  content: "\e900";
}
.gb-icon-team:before {
  content: "\e901";
}
.gb-icon-play:before {
  content: "\e902";
}
.gb-icon-logo:before {
  content: "\e903";
}
.gb-icon-picker:before {
  content: "\e904";
}
.gb-icon-stream-now:before {
  content: "\e905";
}
.gb-icon-clipboard:before {
  content: "\e906";
}
.gb-icon-spin-load-disaligned:before {
  content: "\e907";
}
.gb-icon-embed-link:before {
  content: "\e908";
}
.gb-icon-pause:before {
  content: "\e909";
}
.gb-icon-jump-to-in:before {
  content: "\e90a";
}
.gb-icon-jump-to-out:before {
  content: "\e90b";
}
.gb-icon-set-in:before {
  content: "\e90c";
}
.gb-icon-set-out:before {
  content: "\e90d";
}
.gb-icon-frame-left:before {
  content: "\e90e";
}
.gb-icon-frame-right:before {
  content: "\e90f";
}
.gb-icon-jump-to-live:before {
  content: "\e910";
}
.gb-icon-thumbnail:before {
  content: "\e911";
}
.gb-icon-volume-off:before {
  content: "\e912";
}
.gb-icon-volume-on:before {
  content: "\e913";
}
.gb-icon-zoom-section:before {
  content: "\e914";
}
.gb-icon-clone:before {
  content: "\e915";
}
.gb-icon-error:before {
  content: "\e916";
}
.gb-icon-chat:before {
  content: "\e917";
}
.gb-icon-cloud-produce:before {
  content: "\e918";
}
.gb-icon-producer-2:before {
  content: "\e919";
}
.gb-icon-producer-3:before {
  content: "\e91a";
}
.gb-icon-crop:before {
  content: "\e91b";
}
.gb-icon-pad:before {
  content: "\e91c";
}
.gb-icon-headphones:before {
  content: "\e91d";
}
.gb-icon-headphones-mute:before {
  content: "\e91e";
}

