/*
 Theme Name:     Grabyo Chariot Theme
 Theme URI:      http://www.demo.alessioatzeni.com/chariot/
 Description:    Chariot Child Theme
 Author:         Grabyo team
 Author URI:     http://about.grabyo.com
 Template: chariot
 Version: 2.0.0
*/



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url("../chariot/style.css");

/* Template entry in comment the comment above
 * need to be EXACTLY the same as the template in
 * the import url (case-sensitive).
 */

/* Theme customization
------------------------------------------------------- */

.custom-menu-sidebar-nav ul {
  list-style:none;
}

.wpcf7 .wpcf7-submit{
  background-color: #f03f55;
}

.comments {
    color: black;
    text-align: center;
    padding: 70px 0 10px;
}

.comments .box {
    display: none;
    padding: 0 195px 15px;
}

.comments .box.visible {
    display: block
}

.comments .box h4 {
    font: 600 166px/0px "open sans", sans-serif;
    margin-bottom: 37px;
}

.comments .box h4 a {
    font-weight: bold;
    color: black;
}

.comments .box h4 a:hover {
    text-decoration: underline
}

.comments .box p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}

.comments .tabs {
    display: block;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.border-bottom {
    border-bottom: 1px solid rgb(231, 231, 231);
}


.comments hr {
    line-height: 2px solid #f03f55;
    color: #f03f55;
    max-width: 150px;
    border-color: #f03f55;
}

.comments ul {
    margin: 0px 20px 20px 30px;
}

.comments .tabs li {
    display: inline-block;
    margin: 0 8px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: none;
    box-shadow: 0px 0px 0px 1px rgba(34, 39, 51, 0.9);
    cursor: pointer;
    -moz-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    -ms-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    -o-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.comments .tabs li:hover {
    background-color: rgba(34, 39, 51, 0.9);
}

.comments .tabs li.active {
    background-color: rgba(34, 39, 51, 0.9);

}

.comments .tab {
    position: relative
}

.comments .tab-prev,
.comments .tab-next {
    position: absolute;
    left: 98px;
    top: 94px;
    width: 23px;
    height: 16px;
    background-position: 0 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.comments .tab-prev:hover,
.comments .tab-next:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.comments .tab-next {
    left: auto;
    right: 98px;
    background-position: -50px 0;
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

a {
    color: #10bbf1;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: #f03f55;
}

a:active {
    color: #f03f55;
}



.partner-container {
    height: 60px;
}

.contact-sub {
    position: relative;
}

.reddot {
    font-family: 'georgia', serif;
    color: #F03F55;
}

.video[poster] {
    width: 100%;
}

.seenin {
    padding: 20px 10px;
}

.col-md-press {
    width: 20%;
    float: left;
}

.smallpadding {
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}

.signup {
    width: 60%;
    margin: 0 auto;
}

.mc-field-group.email {
    width: 100%;
    margin-bottom: 10px;
}

input {
    min-height: 36px;
    font-family: 'Open sans', sans-serif;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff none repeat scroll 0% 0%;
    color: #596281;
    font-size: 12px;
    transition: background 0.3s ease-in-out 0s;
    resize: none;
    padding: 0px 10px;
    -webkit-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -moz-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -o-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -webkit-appearance: none;
}

input:focus{
  border: 1px solid #C5CAD9;
}

#mce-MERGE3 {
    width: 80%;
    margin: 10px 0px;
    padding: 5px;
    height: 180px;
    border: 1px solid rgba(54, 56, 60, 0);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f3f3f3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 16px;
    resize: none;
    -webkit-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -moz-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -o-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -webkit-appearance: none;
}

#contactpage input {
    width: 100%;
    min-width: 200px;
    height: 36px;
    font-family: 'Open sans', sans-serif;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff none repeat scroll 0% 0%;
    color: #596281;
    font-size: 12px;
    transition: background 0.3s ease-in-out 0s;
    resize: none;
    -webkit-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -moz-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -o-transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    -webkit-appearance: none;
}

#contactpage input:focus{
  border: 1px solid #C5CAD9;
}

#searchform input{
  width: 100%;
  min-width: 200px;
  font-size: 13px !important;
  max-height: 36px;
  border: 1px solid #e8e8e8 !important;
  border-radius: 3px !important;
  height: 36px;
  font-family: 'Open sans';
  background: #fff none repeat scroll 0% 0% !important;
  color: #596281;
  font-weight: 200;
}
#searchform input:focus {
  border: 1px solid #C5CAD9 !important;
}

#searchform {

}

.wpcf7 .wpcf7-submit {
  background: #f03f55;
  font-family: 'Open Sans';
  width: 220px !important;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFF !important;
  text-transform: uppercase;
  height: 42px !important;
  line-height: 10px;
  box-shadow: 0 2px 0 0 #c12a3d;
  border: 0px !important;
}

#contactpage .wpcf7-form-control.wpcf7-submit{
  background-color:#f03f55;
}

.wpcf7 textarea{
  margin-bottom: 0px;
}


.wpcf7 .wpcf7-validation-errors{
  border: 1px solid #FFC0C8;
  background: #FFE7EA;
  padding: 2px 10px;
  height: auto;
  border-radius: 3px;
  color: #f03f55;
  margin-bottom:5px;
}


select{
  outline: 0;
  font-weight: 400;
  padding: 5px 35px 5px 10px;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  height: 36px;
  border-radius: 3px;
  font-family: Open Sans;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://grabyo.staging.wpengine.com/wp-content/uploads/2016/09/dropdown.png) 96% / 23px no-repeat #fff;

}

#footer-credits p {
    margin: 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-transform: none !important;
}

#footer-credits {
    position: relative;
    padding: 20px 0 20px;
    background: #303440;
}

.footer-widgets {
    padding: 50px 0 10px;
    background: #303440;
    border-bottom: none !important;
}

.testimonial-builder {
    font-size: 28px;
    line-height: 46px;
    text-align: center;
    color: white;
}

#logo {
    z-index: 600;
    position: relative;
}

.team-name h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.clients {
    margin-top: 0px;
}

.hero {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-header{
    background-size: cover;
}

.grab {
    background: f1f1f1;
}

.videophones {
}

.avatar-70 {
    border-radius: 45px;
    margin: 10px;
    border: 1px solid rgba(35, 35, 51, 0.17);
}

.pressdetail {
    margin-top: -20px;
}

.pressdivider.divider {
    border: 1px solid #EBEDEF;
}

.pressicon.font-icon-newspaper {
    font-size: 56px;
    float: right;
}

.press {
    color: #3A465C;
    font-size: 16px;
    text-transform: uppercase;
}

.videophone {
    position: absolute;
    margin-left: -50px;
}

.footer-widgets a {
    color: rgba(255, 255, 255, 0.61);
    font-weight: 100;
}

.footer-widgets {
    background: #25293C;
}

@media (max-width: 991px) {
.footer-widgets {
    text-align: center;
    }
}

#footer-credits {
    background: #2c3043;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

h5 {
    line-height: 35px;
}

.features-page .page-id-2807 li {
    margin:0px;
    padding: 0px;
}



.button.subscribe {
    background: #f03f55;
    border: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    height: 45px;
}

input#mc-embedded-subscribe {
    background:url(http://about.grabyo.com/wp-content/uploads/2016/03/cta-back.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: #f03f55;
    border: 0;
    text-indent: 0px;
    background-position-y: 50%;
    padding-right: 35px;
}

.required.email {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    color: #596281;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 10px;
    margin-right: 10px;
    width: 100%;
    font-size: 12px;
    line-height: normal;
    min-width: 200px;
    min-height: 36px;
    height: 100px;
}


.required.email:focus{
  border: 1px solid #C5CAD9;
}

#contactpage + .wpcf7-mail-sent-ok {
    color: #00ca98;
    background-color: #e2f7f2;
    border: 1px solid #8ceed6;
    padding: 3px 0px 0px 10px;
    border-radius: 3px;
}

.wpcf7-form.sent #contactpage .wpcf7-submit {
  background-color: #00ca98;
  box-shadow: 0 2px 0 0 #009e77;
}

.inputcounter{
  position: relative;
}

.wpcf7-character-count.down{
  position: absolute;
  top: 99px;
  right: 0px;
  border: 1px solid #e8e8e8;
  padding: 0px 8px;
  background: #f7f7f7;
  border-radius: 3px 0;
}



.wpcf7-form.invalid input.wpcf7-not-valid,
.wpcf7-form.invalid textarea.wpcf7-not-valid,
.wpcf7-form input:focus:invalid:focus,
.wpcf7-form textarea:focus:invalid:focus {
    border: 1px solid #FFC0C8 !important;
    background: #fffafa !important;
}

.required-field{
  color:#f03f55;
  font-weight: 300;
}

label{
  display: inline-block;
  max-width: 100%;
  font-weight: 300;
  font-size: 11px;
  margin:0px;
  text-transform: uppercase;
}

.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-293{
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  margin-bottom: 2px;
}



#menu ul li.current_page_item a, #menu ul li.current-menu-item a,
.pinned-menu ul li.current_page_item a,
.pinned-menu ul li.current-menu-item a {
    color: white;
}

#menu ul li:hover ul{
  top:54px;
}

#menu ul ul {
  background: #fff;
  color: #414141;
  border-radius: 3px;
  box-shadow: 0px 2px 6px 0px rgba(81, 81, 81, 0.3);
}

#menu ul a {
    font-size: 14px;
    text-transform: none;
}

#menu ul ul li a {
    height: auto;
    line-height: 22px;
}

#menu ul .sub-menu li a {
    padding: 10px 0 6px 10px;
    text-align: left;
}

.normal-header #menu-nav .menu-item .sub-menu .menu-item a {
  border-bottom: 0;
  color: #414141 !important;
}

.normal-header #menu-nav .menu-item .sub-menu .menu-item.current-menu-item a {
  color: #f03f55 !important;
}



#menu #menu-nav ul a:hover{
  color: #f03f55 !important;
  border-bottom: 1px transparent;
}

.font-icon-arrow-down-simple-thin-round{
  color: #f03f55 !important;
}

#menu ul .sub-menu li a{
  border-bottom:none;
}

.menu-nav {
    position: relative;
    display: block;
    width: 90px;
    height: 65px;
}

#pinned-mobile-nav .menu-icon {
    background: url(img/menu-mobile.png) 0 0 no-repeat;
}

.menu-nav .menu-icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -6px 0 0 0;
    width: 16px;
    height: 16px;
    background: url(img/menu-mobile.png) 0 0 no-repeat;
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-item.current-page-ancestor.current-menu-parent.menu-item-has-children{
  border-bottom: 2px solid #f03f55;
}

#navigation-mobile {
    position: fixed;
    z-index: 80;
    background: #FFFFFF;
    border-top: 1px solid #515560;
    padding-top: 65px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}

#navigation-mobile li a {
    position: relative;
    display: block;
    padding: 15px 0;
    color: #444;
    text-transform: uppercase;
    font-size: 13px;
}

#capture .icon {
    float: left;
    font-size: 30px;
}

#capture p {
    margin-left: 52px;
    font-size: 17px;
}

#share.icon {
    float: left;
    font-size: 30px;
}

#share p {
    margin-left: 52px;
    font-size: 17px;
}

#sponsorship .icon {
    float: left;
    font-size: 30px;
    margin-left: 12px;
}

#sponsorship p {
    margin-left: 52px;
    font-size: 17px;
}

#device .icon {
    float: left;
    font-size: 30px;
}

#device p {
    margin-left: 52px;
    font-size: 17px;
}

#scale .icon {
    float: left;
    font-size: 30px;
}

#scale p {
    margin-left: 52px;
    font-size: 17px;
}

#rights .icon {
    float: left;
    font-size: 30px;
}

#rights p {
    margin-left: 52px;
    font-size: 17px;
}

.description-left {
    width: 200px;
}

.text-left {
    width: 16.5%;
    display: block;
    float: left;
}

.textscreen-right {
    width: 16.5%;
    display: block;
    float: left;
}

#capture:hover {
    color: #81c7bd;
    cursor: pointer;
}

#share:hover {
    color: #81c7bd;
    cursor: pointer;
}

#device:hover {
    color: #81c7bd;
    cursor: pointer;
}

#sponsorship:hover {
    color: #81c7bd;
    cursor: pointer;
}

#scale:hover {
    color: #81c7bd;
    cursor: pointer;
}

#rights:hover {
    color: #81c7bd;
    cursor: pointer;
}

img.staticscreen {
    display: block;
    clear: both;
    margin: 0 auto;
}

#capture {
    margin-top: 80px;
}

#share {
    margin-top: 80px;
}

#device {
    margin-top: 80px;
}

#sponsorship {
    margin-top: 80px;
}

#scale {
    margin-top: 80px;
}

#rights {
    margin-top: 80px;
}

.audience {
    max-width: 80%;
    margin: 0 auto;
}

.terms {
    padding: 200px;
}

.screen {
    display: block;
    float: left;
    height: 490px;
    background-image: url("http://tanya.kimmalan.com/wp-content/uploads/2014/04/laptop_real.png");
    overflow: hidden;
}

.mc-field-group {
    float: left;
}

.mc-field-group.contact {
    float: none;
}

.footersignup {
    width: 600px;
    margin: 0 auto;
}

.social-icons li a i {
    color: white !important;
}

.social-icons li a {
    border-color: white;
}

.socialicons {
    text-align: center;
}

.herotitle h1 {
    font-size: 62px;
    font-weight: 800;
    text-transform: uppercase;
}

.videoinline {
    position: absolute;
    margin-top: 51px;
    margin-left: 99px;
}

#image-static h2.row {
    width: 80%;
}

.scroll-triggered-box.stb.stb-bottom-center {
    display: block;
    border: 0 !important;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
}

#mc_embed_signup p {
    margin: 0;
}

h2.color-white {
    color: #fff;
}

#req-a-demo {
    border-radius: 20px;
    color: #fff;
    background: #f03f55;
    font-size: .9em;
    padding: .5em 1em;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

#req-a-demo:hover {
    opacity: .7;
}

.stb-close:focus, .stb-close:hover {
    color: #fff;
}

.signup.call-to-action {
    max-width: 500px;
}

.stb-close {
    width: 35px;
    height: 35px;
    font-size: 35px;
}

.footer-req-a-demo {
    display: inline-block;
    margin-right: 0;
    background: #f03f55;
    border-radius: 24px;
    padding: 0 10px;
}

.footer-req-a-demo a {
    color: #fff;
}

.normal-header #menu ul li.current_page_item a,
.normal-header #menu ul li.current-menu-item a,
.normal-header #menu ul a:hover,
.normal-header #menu ul a:focus {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.pinned-menu ul a {
    color: #222;
}

.pinned-menu ul li.current_page_item a,
.pinned-menu ul li.current-menu-item a,
.pinned-menu ul a:hover,
.pinned-menu ul a:focus {
    color: #222;
    border-bottom: 1px solid #222;
}

.pinned-menu ul li:last-child a {
    border-color: #222;
}
.pinned-menu ul li:last-child:hover a,
.pinned-menu ul li:last-child:focus a {
    color: #fff;
    background: #222;
    border-bottom-width:1px;
}


.button.subscribe {
border-radius: 20px;
}





/* MAIN HEADINGS */

.main-head {
    font-size: 40px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    }

.main-subhead {
    font-size: 24px;
    font-weight: 300;
}

/* PRESS KIT */

.color-box {
    box-shadow: 0px 1px 2px rgba(81, 81, 81, 0.3);
    border-radius: 3px;
    background-color: #fff;
}

.color-box:hover {
   box-shadow: 0px 1px 8px rgba(81, 81, 81, 0.3);
}

/* contact box*/

.contact-box {
    box-shadow: 0px 1px 2px rgba(81, 81, 81, 0.3);
    border-radius: 3px;
    background-color: #f7f7f7;
}

/* IN THE PRESS */

.grid-item{
    width:22%;
}

.opacity-press{
    opacity:0.7;
    z-index: 50;
}

.opacity-press:hover{
    opacity:1;
}

.press-image{
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
}

.press-quote{
    font-size: 12px;
    font-style: normal;
    line-height: 1.5;
    padding-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}


.press-box {
    border-radius: 3px;
    background-color: #fff;
    border:1px solid #e8e8e8;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 0px transparent;
    position: relative;
}


.press-box:hover {
   box-shadow: 0px 20px 25px -9px rgba(81, 81, 81, 0.3);
}


.pr-press {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  background: #f7f7f7;
  text-align: center;
}

.pr-press:hover{
  background: #fff;
}


.quote-box{
    min-height: 255px;
}



/* LANDING */

#landing {
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    min-height: 400px;
}
body.iphone #landing {
    /* background size cover and attachment fixed not really working on apple devices */
    background-attachment: scroll;
}

.landing-wrapper {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
#landing:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, rgba(51,58,84,0.6) 0%, rgba(37,41,60,0.75) 100%);

}

.adwords-background{


    background: linear-gradient(135deg, rgba(252,112,84,1) 0%, rgba(240,63,84,1) 100%);
}

/* FADING IMAGES DIV */



/* FADING IMAGES */

.mac-slider{
    margin-top:-300px;

    overflow: hidden;
    align-content: center;
    max-width: 1150px;
    position: relative;
    background-image: url(/wp-content/uploads/2016/02/macbook_frame.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mac-slider .home-screen-sliders {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0px;
    padding-left: 12.022%;
    padding-right: 12.011%;
    padding-top: 3.41%;
    list-style: none;
    margin:0px;
}
.mac-slider ul {
    margin: 0;
    padding: 0;
}

.mac-offset{
    padding-top: 59.7785%;
}


/* BLOG */

.masonry-blog .post-container{
  border-bottom:none;
  border-radius: 3px;
  background-color: #fff;
  border:1px solid #e8e8e8;
  transition: .3s ease-in-out;
  box-shadow: 0px 0px 0px transparent;
  padding-bottom: 0px;
}


.masonry-blog .post-container:hover {
  box-shadow: 0px 20px 25px -9px rgba(81, 81, 81, 0.3);
}

.entry-meta.entry-header{
  padding-left: 10px;
  padding-right: 10px;
}

.entry-title{
  padding: 10px;
  margin: 0px;
}

.entry-content a {
    color: #818B92;
    text-decoration: underline;
}

.main-content-navi{
  background: #fff;
}

.masonry-blog .more-link {
  display: block;
  padding: 4px 9px;
  border: 1px solid #f03f55;
  border-radius: 3px;
  color: #f03f55;
  width: auto;
  max-width: 140px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  background: #ffffff;
  box-shadow: 0 -6px 16px 8px #ffffff;
}

.masonry-blog .more-link:hover {
  color: #fff;
  background: #f03f55;
}


.masonry-blog .post-name .entry-title {
	font-size: 20px;
}

.page-numbers{
  padding-left: 5px;
  padding-right: 5px;
  color: #c7c7c7;
  font-size: 18px;
}

.page-numbers.current{
  padding:10px;
  border-radius: 3px;
  margin: 10px;
  background: #333a54;
  color: #fff;
}

.next.page-numbers{
  color:#333a54;
  border: 1px solid #333a54;
  padding: 10px;
  border-radius: 3px;
}

.prev.page-numbers{
  color:#333a54;
  border: 1px solid #333a54;
  padding: 10px;
  border-radius: 3px;
}

.next.page-numbers:hover{
  background: #333a54;
  color: #fff;
}

.prev.page-numbers:hover{
  background: #333a54;
  color: #fff;
}

.blog-single-padding{
  padding-bottom: 70px;
}

.search-bar{
  position: fixed;
  width: auto;
  z-index: 89;
  box-shadow: 0 -10px 55px 60px #fff;
  background: #fff;
  top: 100px;
  max-width: 1170px;
}

.search-container{

}

.search-box{
  position: fixed;
  z-index: 30;
  padding-top: 20px;
  padding-bottom:20px;
  background: #fff;
  width:100%;
}

#blog .col-md-3.right_side{
  float: right;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

/* BLOG END */


/* FADING IMAGES END */

.landing-content {
    position: relative;
    z-index: 2;
    color: #fff !important;
    margin: auto;
    padding-right: 300px;
}

    .landing-content h1,
    .landing-content h2 {
        display: inline-block;
        color: #fff;
    }

    .landing-content h1 {
        font-size: 40px;font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }

    .landing-content h2 {
        font-size: 24px;
        font-weight: 300;

    }

@media (max-width:600px) {

    .landing-content {
    }

    .landing-content h1 {
        font-size: 40px;
    }

    .landing-content h2 {
            font-size: 16px;
    }



}



@media (max-width:991px){
    .landing-content{
        padding-left: 40px;
        padding-right: 40px;
    }

    .mac-slider{
        margin-top:-40px;
    }

    .main-headline {
        font-size: 30px !important;
    }

    .main-head {
        font-size: 30px !important;
    }

    .secondary-headline {
      font-size: 14px !important;
    }

    .main-subhead {
      font-size: 14px !important;
    }

    .search-bar{
      max-width: 750px;
    }

    .category-box{
      padding-bottom: 10px;
    }


}

@media (min-width:992px) and (max-width:1500px) {
    .landing-content {

    }
}



/* VIDEO */

.hide-overflow{
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

video#bgvid {

position: fixed;
top: 50%;
left: 50%;
min-width:100%;
min-height: 100%;
width: auto;
z-index: -1;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;

}

img#bgvid {

position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
z-index: -1;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;

}

@media (max-width:1100px) {

img#bgvid {
    height:100%;
    width: auto;
}

}

@media (max-width:600px) {

img#bgvid {
    height:100%;
    width: auto;
}

}

.page-template-template-hometest #main {
    background-color: transparent;
}

.page-template-template-hometest .content-wrapper {
    background: #fff;
}

.page-template-template-home #main {
    background-color: transparent;
}

.page-template-template-home .content-wrapper {
    background: #fff;
}





.btn-cta {
    position: relative;
    border: 0;
    display: inline-block;
    background: #f03f55;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 0 0 #c12a3d;
    box-shadow: 0 2px 0 0 #c12a3d;
    color: #fff;
    text-transform: uppercase;
    font-size:14px;
    line-height: 2;
    padding:  8px 16px;
    font-weight: 400;
}


.btn-cta.secondary {
    background: #333A54;
    -webkit-box-shadow: 0 4px 0 0 #25293C;
    box-shadow: 0 2px 0 0 #25293C;
}

.btn-cta.secondary:hover {
        color: #fff;
        background: #404867;
        -webkit-box-shadow: 0 4px 0 0 #25293C;
        box-shadow: 0 2px 0 0 #25293C;
    }

.secondary-margin{
    margin-right:20px;
    margin-left:20px;
    margin-bottom: 20px;
}





.btn-cta.btn-cta-large {
    font-size: 14px;
}

.btn-cta:hover {
        color: #fff;
        -webkit-box-shadow: 0 2px 0 0 #c12a3d;
        box-shadow: 0 2px 0 0 #c12a3d;
        background: #ff5167;
    }

.btn-cta:active {
        top: 2px;
        color:#fff;
        -webkit-box-shadow: 0 0 0 0 #c12a3d;
        box-shadow: 0 0 0 0 #c12a3d;
    }

.btn-cta a:visited{
        color:#fff;
    }

.btn-cta i {
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0px 6px;
        position: relative;
        top: 2px;
    }

.btn-cta a {
        color: #fff;
    }

/* Investor part */

.investors-section {
    text-align: center;
    z-index: 100;
    background-color: transparent;
    max-width: 1170px;
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;
}

.investor-background {
    background-color:transparent;
}

.investors-section .img-responsive {
        display:inline;
        width: 60%;
        max-width: 200px !important;
        border-radius: 100%;
        border: 2px solid #fff;
        box-shadow: 0px 1px 2px rgba(81, 81, 81, 0.49);

}

.investors-section p {
    display: none;
    padding: 0 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 300;
    color: #585858;
    font-size:13px;
    margin-left:-65px;
    margin-top:-10px;
}

.investors-section h3 {
    padding-top:10px;
    font-weight: 300;
    color: #585858;
    font-size:18px;

}

.img-responsive ~ p {
  opacity: 0;
  line-height:1.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  display: block;
  margin-left: 10px;
}


.img-responsive:hover ~ p {
  opacity: 1;
}

.investor-image-box {
    position:relative;
}


@media (min-width: 1100px) {
    .investors-section .text-center .img-responsive {
        width: 60%;
        max-width: 200px !important;
        border-radius: 100%;
        border: 1px solid #d8d8d8;
    }
}

@media (max-width:760px){
    .img-responsive:hover ~ p {
        display:none;
    }
}

.investors-section p {
    color: #222;
    font-weight: 400;
}

.landing-wrapper .landing-bottom {
    position: absolute;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.landing-wrapper .jump-to-next {
    padding: 0 0 25px 0;
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin: 0;
}

@media (max-width: 600px) {

    .landing-wrapper .landing-content {
        margin-top: 75px;
    }

        .landing-content h1 {
            font-size: 32px;
        }
        .landing-content h2 {
            font-size: 15px;
        }

    .landing-wrapper .jump-to-next {
        padding-bottom: 0;
        position: relative;
        top: 10px;
    }
}

.landing-wrapper .jump-to-next:hover {
    cursor: pointer;
}

*@media (max-width: 480px) {

    .investors-section {
        overflow-x: hidden;
    }

    .investors-section [class^=col-] {
        padding-right: 0;
        padding-left: 0;
    }

    .investors-section .bx-wrapper {
        margin: 0 auto;
    }
    .investors-section .bx-viewport {
        overflow: visible !important;
    }

    .investors-section .bx-controls.bx-has-pager {
        position: relative;
        top: 30px;
    }

    .investor-grid .bx-pager-item {
        display: inline-block;
        vertical-align: middle;
    }

        .investor-grid .bx-pager-link {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #9C9C9C;
            text-indent: -999px;
            margin: 0 15px;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        .investor-grid .bx-pager-link.active,
        .investor-grid .bx-pager-link:hover,
        .investor-grid .bx-pager-link:focus {
            background: #d0d0d0;
        }
}

.investor-p {
    text-align: center;
    color: #424242;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: 300; letter-spacing: 3px; line-height: 1; font-style: italic;
}

    .investor-player.playing {
        background: #d73a4e;
    }

@media (min-width: 481px) and (max-width: 767px) {
    .investors-section .row {
        margin-right: 0;
        margin-left: 0;
    }
    .investors-section .container {
        padding: 0 10px;
    }
}

    .investor-player {
        background-color: #252429;
    }

    .investors-video {
        display: none;
    }






        .investor-player-image {
            text-align: center;
            background-image: url('img/video-thumbnail-small.jpg');
            background-color: #d73a4e;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: contain;
            padding: 14em 0em 6em 0em;
            position: relative;
        }

        @media (min-width: 551px) {
            .investor-player-image {
                background-image: url('img/video-thumbnail-big.jpg');
                background-color: #d73a4e;
                padding-top: 2em;
                padding-bottom: 18em;
            }


        }


        @media (min-width: 700px) and (max-width: 1000px) {
            .investor-player-image {

            }
        }
        @media (min-width: 1000px) {
            .investor-player-image {
                padding-bottom: 26em;
                padding-top: 4em;
            }
        }

        #theplayers .row {
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

    .investor-player-image .img-caption {
        color: #fff;
        left: 0;
        right: 0;
        text-align: center;
        transition: all .3s ease-in-out;

    }
        .investor-player-image h1{
        text-transform:uppercase;
        font-size: 40px;
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        letter-spacing: 7px;
        line-height: 1;
        color: #fff;
        }

        .investor-player-image h2{
        text-align: center;
        color: #fff;
        text-transform:uppercase;
        font-size: 20px;
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
        letter-spacing: 3px;
        line-height: 1;
        font-style:italic;
        }
        .investor-player-image p {
            color: #fff;
        }

    #investor-video-displayer {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 2em;
        height: 2em;
        font-size: 4em;
        line-height: 1.7em;
        color: #FFF;
        margin: -1em 0px 0px -1em;
        transition: opacity 0.3s ease-in-out 0s;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.15);
        padding-top: 9px;
    }

    #investor-video-displayer:hover {
        opacity: .6;
    }


/* Contact form */

.home.page #mc-embedded-subscribe-form {
    display: block;
    text-align: center;
}

.home.page #mc-embedded-subscribe-form input[type=email] {
    padding: .8em;
    border: 0;
    border-radius: 3px;
    line-height: normal;
    width: 25em;
    max-width: 100%;
    margin: 0 1em 1em 0;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

span.wpcf7-form-control-wrap {
    margin: 0px 0;
}


/* Home Page Styles */

.tick-area{
    font-size: 13px;
    line-height: 1.4;
    color: #848484;
    margin: 0px 0px 0px 10px;
}

.tick-area .dark{
    color: rgba(255, 255, 255, 0.6);
 }

.tick-area li{
    list-style-image: url("img/tick.png");
    font-size: 14px;
    line-height: 2em;
    text-indent:-1.5em;
}

.tick-area h5{
    font-weight: 200;
    text-align: left;
    font-size: 25px;
    line-height: 1.3;
}

.tick-area ul{
    margin: 0px 0px 20px 0px;
}

.engagement-background{
    background: transparent linear-gradient(135deg, rgba(213, 198, 248, 0.74) 0%, rgba(222, 186, 255, 0.1) 100%) repeat scroll 0% 0%;
    border-bottom: 1px solid #e5deff;
    border-top: 1px solid #e5deff;
}

.platform-background{
    background:transparent linear-gradient(135deg, #2C313C 0%, #494E59 100%) repeat scroll 0% 0%;
    border-bottom:1px solid #2C313C;
    border-top:1px solid #2C313C;
}

.normal-header{
  position: fixed;
  background: #fff;
  width: 100%;
  height: 65px;
  z-index: 99;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

header #logo a {
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30.5px;
    line-height: 65px;
    text-transform: uppercase;
}

#menu ul li {
    position: relative;
    float: left;
    margin-left: 20px;
    line-height: 63px;
    z-index: 40;
}

#menu ul li a{
  color:#444;
  padding: 0px;
  margin: 0 5px;
}

.normal-header #menu ul a:hover{
  border-bottom:2px solid #f03f55;
  color:#444;
}

.normal-header #menu ul li.current_page_item a{
  border-bottom:2px solid #f03f55;
  color:#444;
}

.normal-header #menu ul a:focus{
  border-bottom:2px solid #f03f55;
  color:#444;
}

#menu > ul > li:after {
  display: none;
}



/* Pinned Header */

.pinned-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 14px 0 5px 0;
    /* Ugly but needed to override the theme default setting */
    z-index: 9999;
    border-bottom: 1px solid rgba(0,0,0,.1);

    -webkit- box-shadow: 0px 2px 15px 0px rgba(50, 57, 66, 0.15);
    -moz- box-shadow: 0px 2px 15px 0px rgba(50, 57, 66, 0.15);
    box-shadow: 0px 2px 15px 0px rgba(50, 57, 66, 0.15);
}

@media (min-width: 991px) {
    #pinned-mobile-nav + .col-md-9 {
        position: relative;

    }


}

@media (max-width: 991px) {

  .menu-item.current-page-ancestor.current-menu-parent.menu-item-has-children{
    border-bottom: none;
  }

    .pinned-header .col-md-9 {
        overflow: auto;
    }

    #pinned-mobile-nav.open + .col-md-9 {
        padding-bottom: 20px;

    }

    .pinned-menu {
        float: none;
    }

        .pinned-menu ul li {
            float: none;
            margin: 0;
        }

            .pinned-menu ul li a {
               border-bottom: 1px solid #fff;
               padding: .5em 1em;
            }

            .pinned-menu ul li a:hover {
                background: #fff;
                color: #222;
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .pinned-menu ul li:last-child a {
                display: block;
                border-width: 0 0 2px 0;
                padding: .5em 1em;
            }
}

.show-padding{
    padding-top:130px;
}

.hide-padding{
    padding-top:30px;
}

.home-right{
    bottom: 0px;
    position: absolute;
    left: 25%;
    width:70%;
}

.home-left{
    position: absolute;
    bottom: 0px;
    width:60%;
}

@media (max-width: 1200px){
	.show-padding{
    	padding-top:20px;
	}
}

@media (max-width: 991px) {


    .btn-cta.btn-cta-large {
        font-size: 16px;
        padding: 8px 16px;
    }
    .landing-content h2 {
        font-size: 18px;
    }

    .home-right{
        left:0%;
        position:relative;
        width:auto;
    }

    .home-left{
        position:relative;
        width:auto;
    }

    .show-padding{
        padding-top: 30px;
    }

    .hide-padding{
        padding-top:0px;
    }

}

/* Press announce */

.press-announce {

    padding: 1em;
    text-align: center;
}

.page-template-template-hometest .press-announce {
    background-color: transparent;
}


    .press-announce-text {
        position: relative;
        display: inline-block;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        background: none;
        padding: .5em 70px .5em 45px;
        min-height: 27px;
    }

        .press-announce-text:before,
        .press-announce-text:after {
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
        }

        .press-announce-text:before {
            left: 10px;
            width: 25px;
            background: url('img/calendar-home.png') no-repeat center center;
        }

        .press-announce-text:after {
            right: 0;
            padding: 0 20px;
            width: 19px;
            background: url('img/cta-press.png') no-repeat center center;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }

.footer-widgets .btn-cta {
    padding-right: 1.5em;
}

@media (min-width: 481px) and (max-width: 991px) {
    .slider .col-sm-6:nth-child(3) {
        clear: left;
    }
}



@media (max-width: 991px) {

    .aligncenteronmobile {
        text-align: center;
        margin: 0 auto !important;
    }

    .grid-item{

        width:95%;
    }
}

.row.myclients-section {
    max-width: 950px;
    margin: 0 auto;
}


.page-features-2 .main-content,
.page-features .main-content {

}
    .features-page li {
        list-style-image: url('img/tick.png');
        font-size: 14px;
        line-height: 2em;
    }



.align-with-tick {
    text-align: center;
    padding-top: 0;
}

@media (min-width: 991px) {
    .align-with-tick {
        margin-left: 1.6em;
        text-align: left;
    }
    .tick-1 {
        padding-top: 25px;
    }
    .tick-2 {
        padding-top: 40px;
    }
    .tick-3 {
        padding-top: 45px;
    }

    .tick-5 {
        padding-top: 55px;
    }
}

@media (max-width: 991px) {
    .features-page .text-block ul {
        margin-left: 0;
    }
}


.feature-page-slider-top {
    background: #f7f7f7 url('img/window-close-img.png') no-repeat 20px center;
    border: 0 solid #ebebeb;
    border-width: 1px 1px 0 1px;
    height: 35px;
    border-radius: 3px;
}

.tech-specs-link {
    text-decoration: underline;
}
    .tech-specs-link:hover {
        text-decoration: none;
    }



.customer-stories,
.customer-stories li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bx-pager {
    text-align: center;
}

.bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}


.bx-pager-link {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 10px;
    transition: background .3s ease-in-out;
}

.bx-pager-link:hover,
.bx-pager-link.active {
    background: #000;
    cursor: pointer;
}


    .customer-stories {
        text-align: center;
    }

        .customer-story-text {
            max-width: 600px;
            margin: 0 auto;
        }

        .customer-story-item hr {
           border : 0;
           height : 1px;
           background : #f03f55;
           margin : 1em auto;
           width: 400px;
           max-width: 90%;
        }

        .customer-story-company {
            font-weight: bold;
        }

.faq-category-item {
    /*background: #fff;*/
    color: #3a3a3a;
    margin: 10px 0;
    /*border-radius: 4px;*/
}

    .faq-article:last-child .faq-article-text {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .faq-category-item-title {
        position: relative;
        padding: 1.5em 15px .5em 15px;
        margin: 0;
        font-size: 28px;
    }

        .faq-category-item-title .toggle-all {
            font-size: 14px;
            position: absolute;
            right: 10px;
            bottom: 8px;
        }

        @media (max-width: 585px) {
            .faq-category-item-title {
                text-align: center;
            }
            .faq-category-item-title .toggle-all {
                display: block;
                position: relative;
                right: auto;
                bottom: auto;
            }
        }

    .faq-subcategory-item-title {

        margin: 1.5em 2px 0 2px;

        color: #838383;
        border: solid #e8e8e8;
        border-width: 1px 1px 0 1px;
        padding: 1em 1em;
        text-align: center;
        font-size: 0.9em;

        position: relative;
        z-index: 2;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .faq-category-item-title:hover,
    .faq-article-title:hover {
        cursor: pointer;
    }

    .faq-category-item:first-child .faq-category-item-title {
        padding-top: 0;
    }

    /*.faq-category-item-title:after,*/
    .faq-article-title:after {
        content: '';

        width: 19px;
        height: 19px;

        position: absolute;
        top: 50%;
        right: 15px;

        margin-top: -9px;

        background: url(img/close.png) no-repeat center center;

        transition: all .3s ease-in-out;

        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }

    /*.faq-category-item.active .faq-category-item-title:after,*/
    .faq-article.active .faq-article-title:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .faq-articles-list {
        /*display: none;*/
        background: #fff;
         -webkit-box-shadow: 0px 2px 6px 0px rgba(65, 65, 65, 0.2);
         -moz-box-shadow: 0px 2px 6px 0px rgba(65, 65, 65, 0.2);
         box-shadow: 0px 2px 6px 0px rgba(65, 65, 65, 0.2);
         border-radius: 3px;
    }

    .faq-category-item.active .faq-articles-list {
        display: block;
    }


        .faq-article-title {
            position: relative;
            margin: 0;
            border-top: 1px solid #f1f1f1;
            padding: .5em 45px .5em 15px;
            font-size: 18px;
        }

        .faq-article-text {
            display: none;
            margin: 0;
            background: #fbfbfb;
            padding: .8em 15px;
            font-size: 14px;
            border-top: 1px solid #f1f1f1;
        }

        .faq-article.active .faq-article-text {
            display: block;
        }

.m0auto {
    margin: 0 auto;
}

.page-vip-app .img-responsive {
    margin: auto;
}

.bx-wrapper{
   max-width: 100% !important;
}

.logo-slider-overlay{
    position:relative;
}

.logo-slider-overlay:before{
    content: '';
    top:0;
    bottom:0;
    left:0;
    width:70px;
    position: absolute;
    z-index: 2;
    background: -webkit-linear-gradient(left, rgba(247,247,247,1), rgba(247,247,247,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(247,247,247,0), rgba(247,247,247,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(247,247,247,0), rgba(247,247,247,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(247,247,247,1), rgba(247,247,247,0)); /* Standard syntax (must be last) */
    }
    
.logo-slider-overlay.white-gradient:before {
  background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

.logo-slider-overlay:after {
    content: '';
    top:0;
    bottom:0;
    right:0;
    width:70px;
    position: absolute;
    z-index: 2;
    background: -webkit-linear-gradient(left, rgba(247,247,247,0), rgba(247,247,247,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(247,247,247,1), rgba(247,247,247,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(247,247,247,1), rgba(247,247,247,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(247,247,247,0), rgba(247,247,247,1)); /* Standard syntax (must be last) */
    }
    
    .logo-slider-overlay.white-gradient:after {
      background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
    }

.logo-slider-overlay.no-gradient:before,
.logo-slider-overlay.no-gradient:after {
  content: none;
}

.clients-logo-img {
    display: inline-block;
    vertical-align: middle;
    width:7em;
    height:auto;
}

@media (max-width: 480px) {
    .clients-logo-img {

    width:7em;

}
}

#who-is-involved .container {
    padding: 0;
}

#who-is-involved [class^=col-],
#who-is-involved .row {
    padding: 0;
    margin: 0;
}

#theplayers .container {
    padding: 0;
}

#theplayers [class^=col-],
#theplayers .row
#theplayers .container-fluid {
    padding: 0;
    margin: 0;
}

#who-is-involved {
    transition: margin-top .3s ease-in-out;
    margin-top: -75px;
}

#who-is-involved.video-display {
    margin-top: 50px;
}

/*grabyo VIP*/

.get-on-store{
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}


/* Chat Style */

.chat-widget {

    bottom: 23px;
    right: -108px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;
    padding: 14px 10px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(81, 81, 81, 0.5);
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;

}

.chat-widget .light{

    font-weight: 300;
    font-family: helvetica;
    color: #303440;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    float: left;
    margin-top: 8px;

}

.chat-widget .fa-comments {
    margin-top: 8px;
}

.chat-widget i{

    display: inline-block;
    width: 28px;
    height: 28px;
    float: left;
    background-repeat: no-repeat;
    background-image: url("/wp-content/uploads/2016/02/chat.png");

}

.chat-widget .fa-comments:before {
    display: none;
}

.chat-widget:hover{

    right: 0;
    transition-duration: 0.25s;

}


/* Icon List benefits
-------------------------------------------------------------- */
	.roll-icon-list {
		padding-top: 15px;
	}
	.roll-icon-list .icon {
		text-align: center;
		width: 70px;
		height: 70px;
		line-height: 75px;
		float: left;
		margin-right: 30px;
		margin-top: 7px;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
			 -o-border-radius: 50%;
				border-radius: 50%;
	}
	.roll-icon-list .icon i {
		font-size: 26px;
	}
	.roll-icon-list .list-item {
		margin-bottom: 30px;
	}
	.roll-icon-list .content {
		overflow: hidden;
	}
	.roll-icon-list .content h3 {
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		margin: 7px 0 10px;
	}
	.roll-icon-list .content h3 a {
		color: #443f3f;
	}
	.roll-icon-list .content p {
		margin-bottom: 0;
	}

.roll-list-padding{
    margin-left: 15px;
    margin-right: 15px;
}



/* HOMEPAGE PHONE */

.js-phone {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 2;
    width: 220px;

    pointer-events: none;

    opacity: 0;

    transition: all .5s ease-in-out;
}

.js-phone.active {
    top: 200px;
    opacity: 1;
}

    .js-phone img {
        max-width: 100%;
        height: auto;
}

@media (max-width: 1200px){
	.js-phone{
    	width:175px;
	}
  .js-phone.active{
      top:185px;
  }

}

@media (max-width: 991px){
	.js-phone{
    	width:125px;
	}

    .js-phone.active{
        top:150px;
    }

}

@media (max-width: 750px){
	.js-phone{
    	width:110px;
	}

    .js-phone.active{
        top:135px;
    }

}

@media (max-width: 700px){
	.js-phone{
    display: none;

	}

    .js-phone.active{
        display: none;
    }

}


/* HOMEPAGE PHONE END */





/* EVENT TABLE */

#eventmap .container-fluid {
    padding:0px !important;
}

.eventmap-box {
    text-align: center;
    max-width: 650px;
    margin-top: -25px;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    background-color: #333a54;
    color: rgba(255,255,255,0.4);
    border: 1px solid #24293A;
    border-radius: 3px;
}

.googleoverlay {
   background:transparent;
   position:relative;
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}

.event-reg-fields {
    text-align: center;
    max-width: 805px;
    margin-left: auto;
    margin-right: auto;
}

/* END EVENT TABLE */


.mc-field-group {
    padding-right:10px;
}

@media (max-width:991px){


    .mc-field-group{
        float:none;
    }
    .mc-field-group  #mce-FNAME{
        width:100%;
    }
    .mc-field-group  #mce-LNAME{
        width:100%;
    }


}

.speakers-box{
   min-height: 246px;
}

.form-background{
    background: rgba(247, 247, 247, 0.5);
    border: 1px solid #f0f0f0;
    padding: 30px;
    border-radius: 3px;
}

.footer-widgets .social_widget a {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0);
    transition: .3s ease-in-out;
}

.footer-widgets .social_widget i {
    color:rgba(255, 255, 255, 0.6);
    font-size: 1em;
}

.footer-widgets .social_widget a:hover{
    background-color: #f03f55;
    border-color: #f03f55;
}

.social_widget a i{
  margin: -7px 0 0 -7px;
}

/* FREE TRIAL BUTTON */

.free-trial a {
    color:#fff !important;
    display: inline-block;
    padding: 0 10px !important;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s ease-in-out;
    border:1px solid #f03f55 !important;
    background: #f03f55;
    line-height: 29px !important;
    margin-top: 17px !important;
}

.free-trial a:hover {
    background-color:#ff5167;
    color:#fff !important;
    border-bottom: 1px solid #f03f55 !important ;
}

@media (max-width:991px){
    .free-trial a{
        border:none !important;
        background:none;
        color:#f03f55 !important;
        padding: 15px 0 !important;
    }

    .free-trial a:hover{
        border:none;
        background:none;
        border-bottom: none !important;
        color: #ff5167 !important;
    }

}

/* FREE TRIAL BUTTON END */

/* log in BUTTON */

.login a {
    color:#333A54 !important;
    display: inline-block;
    padding: 0 10px !important;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s ease-in-out;
    border:1px solid #333A54 !important;
    background: #fff;
    line-height: 29px !important;
    margin-top: 17px !important;
}

.login a:hover {
    background-color:#333A54;
    color:#fff !important;

}

@media (max-width:991px){
    .login a{
        border:none !important;
        background:none;
        color:#333A54 !important;
        padding: 15px 0 !important;
    }

    .login a:hover{
        border:none;
        background:none;
        border-bottom: none !important;
        color: #333A54 !important;
    }


}

/* log in BUTTON END */

/* FREE TRIAL BUTTON 2*/

.free-trial2 a {
    color:#fff !important;
    display: inline-block;
    padding: 0 10px !important;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s ease-in-out;
    border:1px solid #f03f55 !important;
    background: #f03f55;
    line-height: 29px !important;
    margin-top: 17px !important;
}

.free-trial2 a:hover {
    background-color:#ff5167;
    color:#fff !important;
    border-bottom: 1px solid #f03f55 !important ;
}

@media (max-width:991px){
    .free-trial2 a{
        border:none !important;
        background:none;
        color:#f03f55 !important;
        padding: 15px 0 !important;
    }

    .free-trial2 a:hover{
        border:none;
        background:none;
        border-bottom: none !important;
        color: #ff5167 !important;
    }

}

/* FREE TRIAL BUTTON 2 END */


.main-headline{
    text-transform:uppercase;
    font-weight:400;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7px;
    line-height:1.1;
    text-align:center;
    color:#414141;
}

.secondary-headline{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform:uppercase;
    text-align:center;
    color:#414141;
}

#mce-EMAIL {
  width: 25em;
  height: 44px;
  border-radius: 3px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width:991px){
  #mce-EMAIL {
    width: 100%;
    min-width: 8em;
    max-width: 25em;
  }
}



#contact-form-box{
    margin-top:-300px;
}

#thank-you-form-box{
    margin-top:-160px;
}

.contact-form-line{
    line-height: 0.5;
    padding: 0px;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

.contact-form-padding{
    padding: 10px 30px 0 30px;
}

.iframe-map{
  height:600px;
}

@media (max-width:991px){
    .iframe-map{
        height:250px;
    }
}

#event-background{
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
}

#dark-blue-overlay-background{
        background: linear-gradient(135deg, rgba(51,58,84,0.85) 0%, rgba(37,41,60,1) 100%);
}

.wpfront-message {
        margin: 0px 20px;
}

input .wpcf7-form-control .wpcf7-submit{
  background-color: #f03f55;
  color: #fff;
}

.features-page li {
    list-style-image: url('img/tick.png');
    font-size: 14px;
    line-height: 2em;
    text-indent: -1.4em;

}

#content{
  padding-top: 65px;
}

.landing-padding{
  padding-top: 65px;
}

.hero-padding{
  padding-top:12%;
}

.wpcf7 input,
.wpcf7 textarea {
    padding: 10px;
}

.wpb_wrapper video{
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.wpb_wrapper img{
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.25);
}

#recent-posts-2 li{
  padding-bottom: 15px;
  line-height: 22px;
}

.2-corner-rounding{
  border-radius: 3px;
}

.item-project .hover-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}

.bx-viewport .client-logo-slider img {
    box-shadow: none;
}

/* increasing paragraph font size */
body {
    font-size: 18px;
}

.item-project p {
    margin:0;
}

/* Increase padding for portfolio titles */
.item-project .project-name {
    padding: 16px;
}

/* Case study image grid */
.item-project .hover-wrap img {
    max-height: 300px;
    object-fit: contain;
}

/* Styling Wordpress Page header */
#image-static h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.page-caption {
    font-size: 24px;
    font-weight: 300;
}

#image-static .pagize {
    padding-left: 80px;
    padding-right: 260px;
    line-height:1.5em;
}

@media (max-width: 991px) {
#image-static .pagize {
    padding-left: 40px;
    padding-right: 40px;
    }
}

/* home page margin top - needed to change spacing across screen sizes */
.home-page-margin {
    margin-top: 130px;
}

@media (max-width: 991px) {
.home-page-margin {
    margin-top: 0px;
    }
}

/* reverse order or row contents, for mobile single column */
@media (max-width: 991px) {
    .reverse-order {
        display: flex;
        flex-direction: column-reverse;
        }
    /* left align on desktop, center aligned text on single column */
    .features-text {
        text-align: center;
        }
}


/* Adding breakpoint for col-md-2, stop menu breaking */
@media (max-width: 991px) {
    header .col-md-2 {
        float: left;
        width: 70%;
    }
}
