body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1;
	color: #555;
	background: #f7f7f7;
}
h1 {
	font-size: 1.5em;
	font-weight: normal;
}
small {
	font-size: .66666667em;
}
a {
	color: #e74c3c;
	text-decoration: none;
}
a:hover, a:focus {
	box-shadow:0px 2px 0px 0px #C12A3D;
	background-color: #FF5167;
}
.bshadow0, input {
	border-bottom: 1px solid #e7e7e7;
}

input, fieldset {
	font-size: 0.7em;
	margin: 0;
	padding: 0;
	border: 0;
}
input {
	color: inherit;
	line-height: 1.5;
	height: 1.5em;
	padding: .25em 0;
}
input:focus {
	outline: none;
	box-shadow: inset 0 -2px #449fdb;
}

.cta-button{
	background-color: #f03f55;
	color:#fff;
	padding: 14px 14px 12px 14px;
	font-size:14px;
	font-family: Open-sans, sans-serif;
	border-radius:3px;
	text-transform:uppercase;
	box-shadow:0px 2px 0px 0px #C12A3D;
}

.float-right{
	right: 10px;
	position: absolute;
	top: 10px;
}
.glyph {
	font-size: 16px;
	width: 6em;
	margin-right: .4em;
	margin-bottom: .4em;
	float: left;
	overflow: hidden;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	padding: 20px;
	border-radius: 3px;
	background: #fff;
}

.glyph:hover {
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25);
}

.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
.bgc1 {
	height: 60px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0px;
	right: 0;
	z-index: 9999999;
	border-bottom: 1px solid #d2d5df;
	box-shadow:         0px 2px 15px 0px rgba(50, 57, 66, 0.15);
}
.fgc1 {
	color: #999;
}
.fgc0 {
	color: #000;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mtl, .mal {
	margin-top: 1.5em;
}
.mbl, .mal {
	margin-bottom: 1.5em;
}
.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}
.mls {
	margin-left: .25em;
	color: #DEDEDE;
	font-weight: 300;
	font-size: 13px;
}
.ptl {
	padding-top: 100px;
}
.pbs, .pvs {
	padding-bottom: .1em;
}
.pvs, .pts {
	padding-top: .25em;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of2 {
	width: 50%;
}
.size1of1 {
	width: 100%;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.hidden-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
#testDrive {
	display: block;
	padding-top: 24px;
	line-height: 1.5;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 45px;
}
